CONFIG_CORE_CORTEX_M4=y
CONFIG_FAMILY_M48X=y
CONFIG_PLATFORM_USB_DEVICE_EP_REQUESTS=20
# CONFIG_PLATFORM_NUMICRO_UART6 is not set
# CONFIG_PLATFORM_NUMICRO_UART7 is not set
# CONFIG_PLATFORM_NUMICRO_CAN2 is not set
# CONFIG_PLATFORM_NUMICRO_EADC1 is not set
# CONFIG_PLATFORM_NUMICRO_QSPI1 is not set
CONFIG_USB_DEVICE_HS=y
