CONFIG_CORE_CORTEX_M4=y
# CONFIG_PLATFORM_USB_SOF is not set
CONFIG_PLATFORM_USB_DEVICE_POOL_SIZE=32
CONFIG_PLATFORM_LPC_PM_PD=y
# CONFIG_PLATFORM_LPC_ADC_BASE is not set
# CONFIG_PLATFORM_LPC_ATIMER is not set
# CONFIG_PLATFORM_LPC_BOD is not set
# CONFIG_PLATFORM_LPC_CAN is not set
# CONFIG_PLATFORM_LPC_DAC_BASE is not set
# CONFIG_PLATFORM_LPC_FAST_GPIO_BUS is not set
# CONFIG_PLATFORM_LPC_GPTIMER_CAPTURE is not set
# CONFIG_PLATFORM_LPC_GPTIMER_COUNTER is not set
# CONFIG_PLATFORM_LPC_I2C_SLAVE is not set
# CONFIG_PLATFORM_LPC_I2S_BASE is not set
# CONFIG_PLATFORM_LPC_RTC is not set
# CONFIG_PLATFORM_LPC_SDMMC is not set
# CONFIG_PLATFORM_LPC_SCT_BASE is not set
# CONFIG_PLATFORM_LPC_SGPIO_BASE is not set
# CONFIG_PLATFORM_LPC_SSP_BASE is not set
# CONFIG_PLATFORM_LPC_UART_BASE is not set
# CONFIG_USB_DEVICE_UAC is not set
# CONFIG_USB_DEVICE_CDC_ACM is not set
# CONFIG_USB_DEVICE_HID is not set
# CONFIG_USB_DEVICE_MSC is not set
