CONFIG_CORE_CORTEX_M4=y
CONFIG_FAMILY_STM32F4XX=y
# CONFIG_PLATFORM_USB_SOF is not set
CONFIG_PLATFORM_USB_DEVICE_EP_REQUESTS=32
# CONFIG_PLATFORM_STM32_ADC_BASE is not set
# CONFIG_PLATFORM_STM32_CAN is not set
# CONFIG_PLATFORM_STM32_GPTIMER_PWM is not set
# CONFIG_PLATFORM_STM32_SDIO is not set
# CONFIG_PLATFORM_STM32_SPI_BASE is not set
# CONFIG_PLATFORM_STM32_UART_BASE is not set
# CONFIG_USB_DEVICE_UAC is not set
# CONFIG_USB_DEVICE_CDC_ACM is not set
# CONFIG_USB_DEVICE_HID is not set
# CONFIG_USB_DEVICE_MSC is not set
